* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
input:focus {
  outline: none;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}